{{#if addNewAnswer}}
<h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Enter Your Name</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="content">Provide your answer</label>
        {{textarea value=content id="content"}}
      </div>
      <button {{action 'saveAnswer'}}>Add New Answer</button>
    </form>
  </div>
{{else}}
  <button {{action 'answerFormShow'}}>Provide a new Answer</button>
{{/if}}
