{{#if updateQuestionForm}}
<div class="well">
  <h4>Edit {{question.author}}'s question</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="content">Edit Question</label>
        {{input value=content id="content" placeholder=question.content}}
      </div>

      <div class="form-group">
        <label for="author">Edit Name</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="note">Edit Note</label>
        {{input value=note id="note" placeholder=question.note}}
      </div>

      <button type="button" class="btn btn-primary" {{action 'update' question}}>Save</button>
    </form>
  </div>
</div>
{{else}}
  <button type="button" class="btn btn-primary" {{action 'updateQuestionForm'}}>Edit Question</button>
{{/if}}
